@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

/*HEADER*/

header {
  z-index: 1;
  height: 17vh;
  width: 100%;
  padding: 7vh 0 7vh 2vw;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(21,21,60);
  background: linear-gradient(0deg, rgba(21,21,60,1) 0%, rgba(110,110,143,1) 100%)
  /* background: rgb(68, 68, 93);
  background: linear-gradient(0deg, rgba(68, 68, 93, 1) 0%, rgba(204, 204, 204, 1) 100%); */
}

nav {
  display: flex !important;
}

nav a {
  display: flex;
  align-items: center !important;
  text-decoration: none;
  color: whitesmoke;
  padding: 0 5px;
  margin: 0 5px;
  border: 2px solid transparent;
  border-radius: 30px;
}

nav a:hover {
  border: 2px solid whitesmoke;
  border-radius: 30px;
  text-decoration: none;
  color: whitesmoke;
}

nav a.active {
  text-decoration: underline;
  border: 2px solid whitesmoke;
  border-radius: 30px;
}

nav a img {
  width: 70px;
}

#menuSign {
  z-index: 2;
  position: relative;
  cursor: pointer;
  margin-right: 2px;
  min-width: 105px;
}

#logoMenuSign {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logoMenuSign img {
  height: 13vh;
}

#displaySign {
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 100%;
}

#displaySign nav {
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  background-color: #3A3A5A;
}

.signIconText {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.signIconText p {
  display: inline-block !important;
  margin: 10px 0;
  margin-left: 10px;
}

/* HOME */

.containerHome,
.containerCities {
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(141, 141, 148, 1) 50%, rgba(204, 204, 204, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerHome .imageHero {
  width: 100%;
  height: 80vh;
  margin-bottom: 7vh;
  background-image: url("../src/assets/heroHome.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  color: #3A3A5A;
}

.imageHero h1 {
  font-size: 8vh !important;
  background-color: rgba(245, 245, 245, 0.3);
  padding: 0 1vw;
}

.imageHero h3 {
  text-align: center;
  font-size: 5vh !important;
  width: 40vw;
  background-color: rgba(245, 245, 245, 0.3);
}

.callAction {
  padding: 1vh 2vw;
  border: 10px ridge #3a3a5a;
  margin-bottom: 7vh;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.callAction button {
  padding: 5px;
  background-color: #3a3a5a;
  color: whitesmoke;
}

.containerHome h2 {
  color: #3A3A5A;
  text-decoration: underline;
  font-size: 7vh !important;
  text-align: center;
  margin-bottom: 3vh;
}

.carousel {
  width: 98vw;
  margin-bottom: 4vh;
}

.divSlide {
  width: 80%;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10%;
}

.imageCity {
  width: 37vw;
  height: 35vh;
  background-size: cover;
  background-position: center;
  box-shadow: -1px 2px 5px 5px rgba(245, 245, 245, 0.342);
  margin: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageCity:hover{
  box-shadow: -1px 2px 5px 5px #3a3a5a;
}

.imageCity .cityData {
  display: none;
  color: whitesmoke;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: #3a3a5a5b;
}

.containerHome .imageCity:hover .cityData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: #3A3A5A;
  background-color: #3A3A5A !important;
}

.carousel-indicators .active {
  background-color: #3a3a5a !important;
}

/* CITIES */

.containerCities .imageHero {
  width: 100%;
  height: 40vh;
  background-image: url('./assets/heroCities.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5vw;
  gap: 1vh;
  color: whitesmoke;
}

.containerCities .imageHero h1 {
  background-color: transparent;
}

.containerCities .imageHero div input {
  width: 300px;
  height: 50px;
  color: whitesmoke;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  text-align: center;
}

.containerCities .imageHero div input::placeholder {
  color: whitesmoke;
}

.containerCitiesList {
  width: 80%;
  min-height: 50vh;
  margin: 2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.containerCities .imageCity {
  margin: 2vh 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.containerCities .imageCity .cityData {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: height 1s;
}

.containerCities .imageCity .cityData .titleCity {
  display: flex;
}

.containerCities .imageCity .cityData .titleCity h5{
  margin: 1rem 1vw;
}

.containerCities a:hover .imageCity .cityData .titleCity h5{
  text-decoration: underline;
}

.containerCities .imageCity .cityData .description {
  display: none;
}

.containerCities a:hover .imageCity .cityData{
  height: 100%;
}

.containerCities a:hover .imageCity:hover .cityData .description{
  width: 100%;
  display: block;
  flex-grow: 1;
  margin-bottom: 2vh;
  text-shadow: 1px 1px 1px #3A3A5A;
}

.containerCities a .imageCity .cityData .description h6{
  margin: 0 1vw;
  text-align: center;
}

.containerCities #emptyCitiesList img{
  width: 180px;
}

.containerCities #emptyCitiesList p{
  display: block;
  width: 50%;
  font-size: 3.5vmin;
}

.containerCities #emptyCitiesList {
  width: 60vw;
  min-width: 370px;
  height: 35vh;
  padding: 10px;
  color: whitesmoke;
  background-color: #3A3A5A;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* CITY PAGE */

/* .containerCityPage{
  z-index: 1;
} */

.subContainerCityPage{
  position: relative;
  display: flex;
}

.subContainerCityPage aside {
  z-index: 2;
}
/* full menu transport hub */
.subContainerCityPage aside .containerTranportHubs{
  display: none;
  height: 100%;
  width: 150px;
  position: fixed;
  background-color: #3A3A5A;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
}
/* logoIMG of the correspondent transport hub */
.subContainerCityPage aside .containerTranportHubs .transportHub{
  width: 140px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 72px 51px;
  margin-left: 20px;
  cursor: pointer;
}

/* list of each transport hub */
.containerTranportHubs .transportHub div{ 
  margin-top: 36%;
  display: none;
  color: whitesmoke;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 10px;
}

.containerTranportHubs .transportHub div:last-child ul{
  margin-bottom: 100px;
} 

/* symbol > to display TH */
aside .displayTransportHubs{
  font-size: 80px;
  background-color: #3A3A5A;
  color: whitesmoke;
  width: 42px;
  height: 80px;
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  cursor: pointer;
}
/* the symbol itself */
aside .displayTransportHubs p {
  margin-bottom: 15px;
}

/* google maps of the TH */

#mapsTH{
  z-index: 3;
  position: fixed;
  left: 220px;
  top: 20%;
  width: calc(90vw - 220px);
  height: 55vh;
}

#mapsTH svg{
  position: absolute;
  top:-4%;
  right: -1.5%;
  color: red;
  cursor: pointer;
}

#mapsTH iframe{
  width: 100%;
  height: 100%;
}

/* here goes the hero and the iteneraries */
.subContainerCityPage main{
  /* z-index: 1; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerCityPage .subContainerCityPage main .imageHero{
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position-y: center;
}

.containerItineraries{
  display: flex;
  flex-direction: column;
}

/* ITINERARY */
.itinerary{
  min-height: 40hv;
  width: 70vw;
  margin: 2vh 0;
  border-radius: 10px;
  border: 5px solid rgb(58, 58, 90);
  display: flex;
  flex-direction: column;
  position: relative;
}
/*div of the title and image */
.headerItinerary{
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.headerItinerary h3{
  background: rgba(110, 110, 143, 0.637);
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

/* author picture & name, short description */
.author{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25vh;
}

.author .authorPic{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.author p {
  max-width: 50%;
  text-align: center;
  text-decoration: underline;
}

.bodyItinerary{
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* order the content of the itinerary, 
in mediaquerie keeping the ux responsive*/
.bodyItinerary>div{
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyItinerary .description {
  width: 30%;
  text-align: center;
}

/* align center bootstrap icons with text */
.bodyItinerary .details p, p.likes{
  display: flex;
  align-items: center;
}

.bodyItinerary svg{
  margin: 0 3px
}
/* price cash color*/
.bodyItinerary .details p:first-child svg {
  color: green;
}
/* clock duration color */
.bodyItinerary .details p:last-child svg {
  color: #3A3A5A;
}
/* likes heart color */
.bodyItinerary .social .likes svg{
  color: red;
}

/* order hashtgs */
.bodyItinerary .social .hashtags{
  text-align: center;
  padding: 10px 0;
}



/* FOOTER */
footer {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  width: 100%;
  height: 25vh;
  background: rgb(58, 58, 90);
  background: radial-gradient(circle, rgba(58, 58, 90, 1) 0%, rgba(204, 204, 204, 1) 100%);
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer nav a,
footer nav a:hover {
  color: #3a3a5a;
  border: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .logoFooter {
  width: 150px;
  height: 150px;
  margin-right: 3vw;
  background-size: cover;
  background-position: center;
}

footer>div:last-child {
  display: flex;
  flex-direction: column;
}

footer div a,
footer div a:hover {
  color: #3a3a5a;
  margin: 9px 0;
}


/* PRELOADER */
.preLoader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preLoader img {
  width: 25vw;
}

/* ERROR PAGE */
#connectionError {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(141, 141, 148, 1) 50%, rgba(204, 204, 204, 1) 100%);
}

#connectionError a button{
  width: 90px;
  border-radius: 5px;
  background-color: #3A3A5A;
  color: whitesmoke;
}

#connectionError a button img{
  width: 80px;
}

@media screen and (max-width: 915px) {
  
  .callAction {
    margin: 0 5vw;
  }
  
  .callAction h4 {
    text-align: center;
  }
  
  .divSlide {
    height: auto;
  }
  
  .imageCity {
    width: 60vw;
    margin-bottom: 2vh;
  }
  
  .containerHome .imageHero h3 {
    width: 60vw;
  }
  /* order the content to keep description on center
  and first to appear */
  .bodyItinerary .description {
    width: 90%;
    order: 1;
    padding-top: 10px;
  }
  .bodyItinerary>div{
    width: 35%;
    order: 2;
  }
/* put the heart on the center on responsive */
  .bodyItinerary .social{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}