@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke; 
  box-shadow: inset 0 0 5px #3A3A5A; 
  border-radius: 5px
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3A3A5A; 
  border-radius: 5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3A3A5A; 
}

/* REACT NOTIFICATIONS */

.notifications-component .notification .notification__item .notification__content .notification__title{
  font-weight: 400 !important;
}

.notifications-component .notification .notification__item--danger .notification__content,
.notifications-component .notification .notification__item--warning .notification__content {
  text-align: center;
}

/*HEADER*/

header {
  z-index: 1;
  height: 17vh;
  width: 100%;
  padding: 7vh 0 7vh 2vw;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(21,21,60);
  background: linear-gradient(0deg, rgba(21,21,60,1) 0%, rgba(110,110,143,1) 100%)
  /* background: rgb(68, 68, 93);
  background: linear-gradient(0deg, rgba(68, 68, 93, 1) 0%, rgba(204, 204, 204, 1) 100%); */
}

nav {
  display: flex !important;
}

header>nav>a {
  display: flex;
  align-items: center !important;
  text-decoration: none;
  color: whitesmoke;
  padding: 0 5px;
  margin: 0 5px;
  border: 2px solid transparent;
  border-radius: 30px;
}

header>nav>a:hover {
  border: 2px solid whitesmoke;
  border-radius: 30px;
  text-decoration: none;
  color: whitesmoke;
}

header>nav>a.active {
  text-decoration: underline;
  border: 2px solid whitesmoke;
  border-radius: 30px;
}

header>nav>a>img {
  width: 70px;
}

header>#menuSign {
  z-index: 2;
  position: relative;
  cursor: pointer;
  margin-right: 2px;
  min-width: 105px;
}

#logoMenuSign {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

#logoMenuSign img {
  height: 13vh;
}
/* user image */
#logoMenuSign .userProfilePic {
  height: 7vh;
  width: 48px;
  border: 1px solid #3A3A5A;
  display: none;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 3vh;
}

.divToCloseMenuSign{
  /* background-color: #3a3a5a49; */
  cursor: context-menu;
  position: absolute;
  width: 100vw;
  top: 15vh;
  left: -100vw;
}

#displaySign {
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 100%;
}

#displaySign nav {
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  background-color: #3A3A5A;
  width: 100%;
}

#displaySign .divDownDisplaySign{
  width: 105px;
  /* background-color: #3a3a5a49; */
  cursor: context-menu;
}

header #displaySign nav a {
  width: 100%;
  text-decoration: none;
}

.signIconText {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.signIconText p {
  display: inline-block !important;
  margin: 10px 0;
  margin-left: 10px;
}

/* HOME */

.containerHome,
.containerCities,
.containerSign{
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(141, 141, 148, 1) 50%, rgba(204, 204, 204, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerHome .imageHero {
  width: 100%;
  height: 80vh;
  margin-bottom: 7vh;
  background-image: url("../src/assets/heroHome.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  color: #3A3A5A;
}

.imageHero h1 {
  font-size: 8vh !important;
  background-color: rgba(245, 245, 245, 0.3);
  padding: 0 1vw;
}

.imageHero h3 {
  text-align: center;
  font-size: 5vh !important;
  width: 40vw;
  background-color: rgba(245, 245, 245, 0.3);
}

.callAction {
  padding: 1vh 2vw;
  border: 10px ridge #3a3a5a;
  margin-bottom: 7vh;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.callAction button {
  padding: 5px;
  background-color: #3a3a5a;
  color: whitesmoke;
}

.containerHome h2 {
  color: #3A3A5A;
  text-decoration: underline;
  font-size: 7vh !important;
  text-align: center;
  margin-bottom: 3vh;
}

.carousel {
  width: 98vw;
  margin-bottom: 4vh;
}

.divSlide {
  width: 80%;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10%;
}

.imageCity {
  width: 37vw;
  height: 35vh;
  background-size: cover;
  background-position: center;
  box-shadow: -1px 2px 5px 5px rgba(245, 245, 245, 0.342);
  margin: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageCity:hover{
  box-shadow: -1px 2px 5px 5px #3a3a5a;
}

.imageCity .cityData {
  display: none;
  color: whitesmoke;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: #3a3a5a5b;
}

.containerHome .imageCity:hover .cityData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: #3A3A5A;
  background-color: #3A3A5A !important;
}

.carousel-indicators .active {
  background-color: #3a3a5a !important;
}

/* CITIES */

.containerCities .imageHero {
  width: 100%;
  height: 40vh;
  background-image: url('./assets/heroCities.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5vw;
  gap: 1vh;
  color: whitesmoke;
}

.containerCities .imageHero h1 {
  background-color: transparent;
}

/* styling input search of the filter */
.containerCities .imageHero div input {
  width: 300px;
  height: 50px;
  color: whitesmoke;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  text-align: center;
}

.containerCities .imageHero div input::placeholder {
  color: whitesmoke;
}

#Search::-webkit-search-cancel-button{
  color: whitesmoke;
  background: whitesmoke;
}

.containerCitiesList {
  width: 80%;
  min-height: 50vh;
  margin: 2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.containerCities .imageCity {
  margin: 2vh 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.containerCities .imageCity .cityData {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: height 1s;
}

.containerCities .imageCity .cityData .titleCity {
  display: flex;
}

.containerCities .imageCity .cityData .titleCity h5{
  margin: 1rem 1vw;
}

.containerCities a:hover .imageCity .cityData .titleCity h5{
  text-decoration: underline;
}

.containerCities .imageCity .cityData .description {
  display: none;
}

.containerCities a:hover .imageCity .cityData{
  height: 100%;
}

.containerCities a:hover .imageCity:hover .cityData .description{
  width: 100%;
  display: block;
  flex-grow: 1;
  margin-bottom: 2vh;
  text-shadow: 1px 1px 1px #3A3A5A;
}

.containerCities a .imageCity .cityData .description h6{
  margin: 0 1vw;
  text-align: center;
}

/* display a message if the filter doesnt found a city with that name
or the city doesnt have any itinerary registered */

.containerCities #emptyCitiesList img,
.containerItineraries #emptyItinerariesList img{
  width: 180px;
}

.containerCities #emptyCitiesList p,
.containerItineraries #emptyItinerariesList p{
  display: block;
  width: 50%;
  font-size: 3.5vmin;
}

.containerCities #emptyCitiesList,
.containerItineraries #emptyItinerariesList{
  width: 60vw;
  min-width: 370px;
  height: 35vh;
  padding: 10px;
  color: whitesmoke;
  background-color: #3A3A5A;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* CITY PAGE */

/* .containerCityPage{
  z-index: 1;
} */

.subContainerCityPage{
  position: relative;
  display: flex;
}

.subContainerCityPage aside {
  z-index: 2;
}
/* full menu transport hub */
.subContainerCityPage aside .containerTranportHubs{
  display: none;
  height: 86vh;
  width: 150px;
  position: fixed;
  background-color: #3A3A5A;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
}
/* logoIMG of the correspondent transport hub */
.subContainerCityPage aside .containerTranportHubs .transportHub{
  width: 140px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 72px 51px;
  margin-left: 20px;
  cursor: pointer;
}

/* list of each transport hub */
.containerTranportHubs .transportHub div{ 
  margin-top: 36%;
  display: none;
  color: whitesmoke;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 10px;
}

.containerTranportHubs .transportHub div:last-child ul{
  margin-bottom: 100px;
} 

/* symbol > to display TH */
aside .displayTransportHubs{
  font-size: 80px;
  background-color: #3A3A5A;
  color: whitesmoke;
  width: 42px;
  height: 80px;
  border-radius: 0% 100% 100% 0% / 50% 50% 50% 50% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  cursor: pointer;
}
/* the symbol itself */
aside .displayTransportHubs p {
  margin-bottom: 15px;
}

/* google maps of the TH */

#mapsTH{
  z-index: 3;
  position: fixed;
  left: 220px;
  top: 20%;
  width: calc(90vw - 220px);
  height: 55vh;
}

#mapsTH svg{
  position: absolute;
  top:-4%;
  right: -1.5%;
  color: red;
  cursor: pointer;
}

#mapsTH iframe{
  width: 100%;
  height: 100%;
}

/* here goes the hero and the iteneraries */
.containerCityPage .subContainerCityPage main{
  /* z-index: 1; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(141, 141, 148, 1) 50%, rgba(204, 204, 204, 1) 100%);
  /* background: rgb(32,32,59);
  background: linear-gradient(90deg, rgba(32,32,59,1) 0%, rgba(175,175,236,1) 50%, rgba(32,32,59,1) 100%); */
}
/* HERO AND TITLE CITY */
.containerCityPage .subContainerCityPage main .imageHero{
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* city title, itinerary title */
.containerCityPage .subContainerCityPage main .imageHero h2,
.headerItinerary h3{
  background: rgba(110, 110, 143, 0.637);
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

/* container of itineraries */
.containerCityPage .subContainerCityPage main .containerItineraries{
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
}

/* "go back to cities" and "View More Less"  BUTTONS*/
.containerCityPage .subContainerCityPage main a button,
.itinerary button{
  margin-bottom: 1vh;
  padding: 5px;
  border-radius: 3px;
  color: whitesmoke;
  background-color: rgb(58, 58, 90);
  align-self: center;
  vertical-align: middle;
}

.containerCityPage .subContainerCityPage main a button img{
  width: 50px;
}

/* ITINERARY */
.itinerary{
  min-height: 40vh;
  width: 70vw;
  margin: 2vh 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: whitesmoke;
  background: rgb(149,151,209);
  background: radial-gradient(circle, rgba(149,151,209,1) 0%, rgba(32,32,59,1) 100%);
}

/*div of the title and image */
.itinerary .headerItinerary{
  width: 100%;
  height: 35vh;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  background-size: cover;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* author picture & name, short description */
.itinerary .author{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25vh;
}

.itinerary .author .authorPic{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.itinerary .author p {
  max-width: 50%;
  text-align: center;
  text-decoration: underline;
}

.itinerary .bodyItinerary{
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* order the content of the itinerary, 
in mediaquerie keeping the ux responsive*/
.itinerary .bodyItinerary>div{
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itinerary .bodyItinerary .description {
  width: 30%;
  text-align: center;
}

/* align center bootstrap icons with text */
.itinerary .bodyItinerary .details p,
.itinerary .bodyItinerary .social p.likes{
  display: flex;
  align-items: center;
}

.itinerary .bodyItinerary svg{
  margin: 0 3px
}
/* price cash color*/
.itinerary .bodyItinerary .details p:first-child svg {
  color: rgb(25, 238, 25);
}
/* clock duration color */
.itinerary .bodyItinerary .details p:last-child svg {
  color: whitesmoke;
}
/* likes heart color */
.itinerary .bodyItinerary .social .likes svg{
  color: red;
}
.itinerary .bodyItinerary .social .likes{
  cursor: pointer;
}


/* order hashtgs */
.itinerary .bodyItinerary .social .hashtags{
  text-align: center;
  padding: 10px 0;
}

.itinerary .commentsActivities{
  margin-bottom: 2vh;
  display: none;    
  flex-direction: column;
  border: 1px solid whitesmoke;
  height: 70vh;
  width: 94%;
}

.itinerary .commentsActivities .activities,
.itinerary .commentsActivities .comments{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* the div with the activities */
.itinerary .commentsActivities .activities .activitiesContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

/* each activity with each pic */
.itinerary .commentsActivities .activities .activitiesContainer .activityPic{
  height: 200px;
  min-width: 400px;
  margin: 10px;
  box-sizing: content-box;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* the title of the activity */
.itinerary .commentsActivities .activities .activitiesContainer .activityPic p.title{
  display: block;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #3A3A5A;
  color: whitesmoke;
  background-color: #3a3a5a5b;
}

/* the div of the comments */
.itinerary .commentsActivities .comments .commentsContainer{
  display: flex;
  flex-direction: column;
}

/* info of the user who made the comment */
.itinerary .commentsActivities .comments .commentsContainer .userComment .infoUser{
  display: flex;
  align-items: center;
}

/* user profile pic */
.itinerary .commentsActivities .comments .commentsContainer .userComment .infoUser .userPic{
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.itinerary button{
  min-width: 90px;
}

/* SIGN-UP and SIGN-IN */

.containerSign{
  min-height: 100vh;
}

.containerSign .containerForm {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* align form titles and spacing */
.containerSign .containerForm .formTitle, .formTitle *{
  text-align: center;
  margin: 1vh 0;
  color: #22223f;
}

.containerSign .containerForm .form {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerSign .containerForm .form .inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerSign .containerForm .form .inputContainer input, 
.containerSign .containerForm .form .inputContainer select{
  width: 400px;
  text-align: center;
}

.containerSign .containerForm .form .inputContainer div input::placeholder,
.containerSign .containerForm .form select{
  text-align: center;
  color: #3A3A5A;
}

.containerSign .containerForm .form>div{
  margin: 1vh 0;
}

.containerSign .containerForm .form .inputContainer img.logoInput{
  width: 60px;
}

/* errors in validation */
.containerSign .containerForm .form .inputContainer p.error,
.containerSign .containerForm .sign p.error{
  color: red;
}

.containerSign .containerForm .form .inputContainer p.error{
  display: block;
  align-self: center;
  margin-left: 60px;
  margin-top: -12px;
}

.containerSign .containerForm .sign {
  align-self: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerSign .containerForm .sign>*{
  text-align: center;
  margin: 1vh 0;
  width: 100%;
}

.containerSign .containerForm .sign button {
  border-radius: 20px !important;
  width: 200px;
  padding: 5px 0;
  background-color: #3A3A5A;
  color: whitesmoke;
}

.containerSign .containerForm .sign button:last-child{
  display: flex;
  justify-content: center;
}

.containerSign .containerForm .sign button span{
  color: #3A3A5A;
}

.containerSign .containerForm .sign div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerSign .containerForm .sign hr{
  width: 42%;
  color: #3A3A5A;
  background-color: #3A3A5A;
  height: 4px;
  border-width:0;
}

.containerSign .containerForm .switchSign{
  margin-bottom: 5vh;
}

/* FOOTER */
footer {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  width: 100%;
  height: 25vh;
  background: rgb(58, 58, 90);
  background: radial-gradient(circle, rgba(58, 58, 90, 1) 0%, rgba(204, 204, 204, 1) 100%);
}

footer nav {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer nav a,
footer nav a:hover {
  color: #3a3a5a;
  border: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .logoFooter {
  width: 150px;
  height: 150px;
  margin-right: 3vw;
  background-size: cover;
  background-position: center;
}

footer>div:last-child {
  display: flex;
  flex-direction: column;
}

footer div a,
footer div a:hover {
  color: #3a3a5a;
  margin: 9px 0;
}


/* PRELOADER */
.preLoader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preLoader img {
  width: 25vw;
}

/* ERROR PAGE */
#connectionError {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(141, 141, 148, 1) 50%, rgba(204, 204, 204, 1) 100%);
}

#connectionError a button{
  width: 90px;
  border-radius: 5px;
  background-color: #3A3A5A;
  color: whitesmoke;
}

#connectionError a button img{
  width: 80px;
}

@media screen and (max-width: 915px) {
  
  .callAction {
    margin: 0 5vw;
  }
  
  .callAction h4 {
    text-align: center;
  }
  
  .divSlide {
    height: auto;
  }
  
  .imageCity {
    width: 60vw;
    margin-bottom: 2vh;
  }
  
  .containerHome .imageHero h3 {
    width: 60vw;
  }

  .itinerary {
    width: 80vw;
  }

  /* order the content to keep description on center
  and first to appear */
  .itinerary .bodyItinerary .description {
    width: 70%;
    order: 1;
    padding-top: 10px;
  }
  .itinerary .bodyItinerary>div{
    width: 35%;
    order: 2;
  }
/* put the heart on the center on responsive */
  .itinerary .bodyItinerary .social{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .containerSign .containerForm .form .inputContainer input, 
  .containerSign .containerForm .form .inputContainer select{
    width: 85vw;
  }

  .containerSign .containerForm .sign{
    width: 65vw;
  }
}

@media screen and (max-width: 515px) {

  .containerHome .imageCity .cityData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .itinerary{
    width: 90vw;
  }

  .itinerary .bodyItinerary .description{
    width: 90%;
  }

  .containerSign .containerForm .form .inputContainer input, 
  .containerSign .containerForm .form .inputContainer select{
    width: 80vw;  
  }
}

@media screen and (min-width: 916px) {
  .containerSign .containerForm .form{
    align-items: center;
  }
  .containerSign .containerForm .form .inputContainer{
    position: relative;
    right: 30px;
  }
}

@media screen and (min-width: 1440px) {

  #logoMenuSign .userProfilePic {
    width: 4vw;
  }

}