@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

/*HEADER*/

header {
  height: 17vh;
  width: 100%;
  padding: 7vh 0 7vh 2vw;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(21,21,60);
  background: linear-gradient(0deg, rgba(21,21,60,1) 0%, rgba(110,110,143,1) 100%)
  /* background: rgb(68, 68, 93);
  background: linear-gradient(0deg, rgba(68, 68, 93, 1) 0%, rgba(204, 204, 204, 1) 100%); */
}

nav {
  display: flex !important;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  padding: 0 5px;
  margin: 0 5px;
  border: 2px solid transparent;
  border-radius: 30px;
}

nav a:hover {
  border: 2px solid whitesmoke;
  border-radius: 30px;
  text-decoration: none;
  color: whitesmoke;
}

nav a.active {
  text-decoration: underline;
  border: 2px solid whitesmoke;
  border-radius: 30px;
}

nav a img {
  width: 70px;
}

nav a p {
  margin-top: 15px;
}

#menuSign {
  position: relative;
  cursor: pointer;
  margin-right: 2px;
  min-width: 85px;
}

#logoMenuSign {
  width: 100%;
}

#logoMenuSign img {
  display: flex;
  justify-content: flex-end;
  height: 13vh;
}

#displaySign {
  width: 100%;
  position: absolute;
  top: 100%;
}

#displaySign nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3A3A5A;
}

.signIconText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.signIconText p {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

/* HOME */

.containerHome,
.containerCities {
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(141, 141, 148, 1) 50%, rgba(204, 204, 204, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerHome .imageHero {
  width: 100%;
  height: 80vh;
  margin-bottom: 7vh;
  background-image: url("../src/assets/heroHome.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  color: #3A3A5A;
}

.imageHero h1 {
  font-size: 8vh !important;
  background-color: rgba(245, 245, 245, 0.3);
  padding: 0 1vw;
}

.imageHero h3 {
  text-align: center;
  font-size: 5vh !important;
  width: 40vw;
  background-color: rgba(245, 245, 245, 0.3);
}

.callAction {
  padding: 1vh 2vw;
  border: 10px ridge #3a3a5a;
  margin-bottom: 7vh;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.callAction button {
  padding: 5px;
  background-color: #3a3a5a;
  color: whitesmoke;
}

.containerHome h2 {
  color: #3A3A5A;
  text-decoration: underline;
  font-size: 7vh !important;
  text-align: center;
  margin-bottom: 3vh;
}

.carousel {
  width: 98vw;
  margin-bottom: 4vh;
}

.divSlide {
  width: 80%;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10%;
}

.imageCity {
  width: 37vw;
  height: 35vh;
  background-size: cover;
  background-position: center;
  box-shadow: -1px 2px 5px 5px rgba(245, 245, 245, 0.342);
  margin: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageCity:hover{
  box-shadow: -1px 2px 5px 5px #3a3a5a;
}

.imageCity .cityData {
  display: none;
  color: whitesmoke;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: #3a3a5a5b;
}

.containerHome .imageCity:hover .cityData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: #3A3A5A;
  background-color: #3A3A5A !important;
}

.carousel-indicators .active {
  background-color: #3a3a5a !important;
}

/* CITIES */

.containerCities a:hover .imageCity{
  text-decoration: underline whitesmoke;
}

.containerCities .imageHero {
  width: 100%;
  height: 40vh;
  background-image: url('./assets/heroCities.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5vw;
  gap: 1vh;
  color: whitesmoke;
}

.containerCities .imageHero h1 {
  background-color: transparent;

}

.containerCities .imageHero div input {
  width: 300px;
  height: 50px;
  color: whitesmoke;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  text-align: center;
}

.containerCities .imageHero div input::placeholder {
  color: whitesmoke;
}

.containerCities .imageHero div button {
  border-radius: 5px;
  color: #3a3a5a;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.containerCitiesList {
  width: 80%;
  min-height: 50vh;
  margin: 2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.containerCities .imageCity {
  margin: 2vh 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.containerCities .imageCity .cityData {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCities .imageCity .cityData>* {
  margin: 0 1vw;
  text-decoration: none;
}

/* FOOTER */

footer {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  width: 100%;
  height: 25vh;
  background: rgb(58, 58, 90);
  background: radial-gradient(circle, rgba(58, 58, 90, 1) 0%, rgba(204, 204, 204, 1) 100%);
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer nav a,
footer nav a:hover {
  color: #3a3a5a;
  border: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .logoFooter {
  width: 150px;
  height: 150px;
  margin-right: 3vw;
  background-size: cover;
  background-position: center;
}

footer>div:last-child {
  display: flex;
  flex-direction: column;
}

footer div a,
footer div a:hover {
  color: #3a3a5a;
  margin: 9px 0;
}

@media screen and (max-width: 915px) {

  .callAction {
    margin: 0 5vw;
  }

  .callAction h4 {
    text-align: center;
  }

  .divSlide {
    height: auto;
  }

  .imageCity {
    width: 60vw;
    margin-bottom: 2vh;
  }

  .imageHero h3 {
    width: 60vw;
  }
}